<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kidskeeper.sungshin.or.kr.kikee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 블루투스 설정메뉴 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 안드로이드 메모리 가용 용량 증가(largeHeap) -->
    <application
        android:name=".Network.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Adult.AdultHome.AdultHomeActivity" />
        <activity android:name=".Adult.Camera.CameraActivity" />
        <activity android:name=".Kids.ConnectActivity" />
        <activity android:name=".Adult.Voice.VoiceActivity" />
        <activity android:name=".Adult.LoginJoin.AdultLoginActivity" />
        <activity android:name=".Adult.LoginJoin.JoinActivity" />
        <activity android:name=".Kids.KidsMain" />
        <activity android:name=".Kids.Operate.OperateRobot" />
        <activity android:name=".Kids.Bluetooth.bluetoothDeviceList" />
        <activity android:name=".Kids.Word.WordGame" />
        <activity android:name=".Kids.RecyclerView" />
        <activity android:name=".Kids.Bluetooth.BluetoothList" />
        <activity android:name=".Kids.WordGame.CategorySelectActivity" />
        <activity android:name=".Kids.WordGame.PlayWordGameActivity"></activity>
    </application>

</manifest>